/* ------------------------------------------------------------ common */
body {
  width: 100%;
  min-width: 1100px; }

a:link {
  color: #111;
  text-decoration: none; }

a:visited {
  color: #111;
  text-decoration: none; }

a:hover,
a:hover img,
input[type="submit"]:hover {
  color: #111;
  text-decoration: none;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8; }

input[type="text"],
select,
textaera {
  border: 1px solid #b5b5b5;
  border-radius: inherit;
  outline: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  padding: 0;
  border: none; }

.inner {
  width: 1100px;
  margin: 0 auto; }

.SP {
  display: none; }

/* ------------------------------------------------------------ fonts */
@font-face {
  font-family: "Noto-Sans-JP-Light";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format("opentype"); }

@font-face {
  font-family: "Noto-Sans-JP-DemiLight";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format("opentype"); }

@font-face {
  font-family: "Noto-Sans-JP-Regular";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype"); }

@font-face {
  font-family: "Noto-Sans-JP-Medium";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format("opentype"); }

@font-face {
  font-family: "Noto-Sans-JP-Bold";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype"); }

@font-face {
  font-family: "JosefinSans-BoldItalic";
  src: url("../fonts/JosefinSans-BoldItalic?#iefix") format("embedded-opentype"), url("../fonts/JosefinSans-BoldItalic.woff") format("woff"), url("../fonts/JosefinSans-BoldItalic.ttf") format("truetype"), url("../fonts/JosefinSans-BoldItalic.otf") format("otf"), url("../fonts/JosefinSans-BoldItalic.svg") format("svg"); }

@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins/Poppins-Regular.woff2) format("woff2"), url(../fonts/Poppins/Poppins-Regular.woff) format("woff"), url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf) format("truetype"); }

@font-face {
  font-family: "Poppins-LightItalic";
  src: url(../fonts/Poppins/Poppins-LightItalic.woff2) format("woff2"), url(../fonts/Poppins/Poppins-LightItalic.woff) format("woff"), url(../fonts/Poppins/Poppins-Italic.ttf) format("truetype"); }

@font-face {
  font-family: "Poppins-BoldItalic";
  src: url(../fonts/Poppins/Poppins-BoldItalic.woff2) format("woff2"), url(../fonts/Poppins/Poppins-BoldItalic.woff) format("woff"), url(../fonts/Poppins/Poppins-BoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins/Poppins-Medium.woff2) format("woff2"), url(../fonts/Poppins/Poppins-Medium.woff) format("woff"), url(../fonts/Poppins/Poppins-Medium.ttf) format("truetype"); }

/* ------------------------------------------------------------ header */
.header .header-pc {
  border-bottom: 1px solid #1c1f4c; }
  .header .header-pc #h_nav {
    background: #1c1f4c;
    text-align: center; }
    .header .header-pc #h_nav a {
      display: inline-block;
      font-family: "Noto-Sans-JP-Regular";
      font-size: 12px;
      color: #ffffff;
      line-height: 30px;
      padding: 0 21px;
      position: relative; }
      .header .header-pc #h_nav a:not(:first-child)::before {
        content: "";
        width: 1px;
        height: 10px;
        background: #ffffff;
        position: absolute;
        top: 10px;
        left: -1px; }
  .header .header-pc .main {
    max-width: 1600px;
    height: 80px;
    background: #ffffff;
    padding: 0 28px 0 24px;
    margin: auto; }
    .header .header-pc .main .left {
      width: 50%;
      float: left;
      margin-top: 16px; }
    .header .header-pc .main .right {
      width: 50%;
      float: left;
      text-align: right;
      padding-top: 20px; }
      .header .header-pc .main .right li {
        display: inline-block;
        margin-left: 27px; }
        .header .header-pc .main .right li a {
          display: block;
          font-family: "Noto-Sans-JP-Regular";
          font-size: 12px;
          color: #393939;
          line-height: 1;
          padding-top: 27px;
          background: url(../images/common/email.png) center top no-repeat; }
        .header .header-pc .main .right li:nth-of-type(2) a {
          background-image: url(../images/common/flag.png); }
        .header .header-pc .main .right li:nth-of-type(3) a {
          background-image: url(../images/common/location.png); }

.header .header-sp {
  width: 100%;
  height: 43px;
  background: #ffffff;
  position: relative;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s; }
  .header .header-sp .logo {
    width: calc(100% - 43px);
    height: 43px;
    float: left;
    padding: 8px 0 0 13px; }
    .header .header-sp .logo img {
      width: 220px; }
  .header .header-sp .burger {
    width: 43px;
    height: 43px;
    float: left;
    background: #0555c1 url(../images/common/menu.png) center/28px no-repeat; }
    .header .header-sp .burger.toggle {
      background: #ffffff url(../images/common/close.png) center 18px/18px no-repeat; }
  .header .header-sp .menu {
    width: 100%;
    float: left;
    position: absolute;
    top: 42px;
    z-index: 9;
    left: 0;
    opacity: 0;
    z-index: -1;
    background: #ffffff;
    padding-top: 27px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out; }
    .header .header-sp .menu ul {
      text-align: center;
      margin-bottom: 30px; }
      .header .header-sp .menu ul li {
        display: inline-block;
        width: 90px;
        height: 70px;
        text-align: center;
        letter-spacing: -0.5px;
        padding-top: 45px;
        background: url(../images/common/email_sp.png) center 13px/30px no-repeat;
        border: 1px solid #1c1f4c;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px; }
        .header .header-sp .menu ul li a {
          display: block;
          font-size: 9.5px;
          line-height: 1;
          color: #393939; }
        .header .header-sp .menu ul li:nth-of-type(2) {
          background-image: url(../images/common/flag_sp.png);
          background-size: 28px; }
        .header .header-sp .menu ul li:nth-of-type(3) {
          background-image: url(../images/common/location_sp.png);
          background-size: 22px; }
    .header .header-sp .menu #g_nav {
      padding: 0;
      margin: 0 22px 35px;
      border-top: 1px solid #1c1f4c; }
      .header .header-sp .menu #g_nav .collapsible {
        width: 100%;
        height: 43px;
        font-size: 12px;
        color: #393939;
        padding-left: 25px;
        background: #ffffff url(../images/common/polygon.png) left center/9px no-repeat;
        cursor: pointer;
        border: none;
        text-align: left;
        outline: none;
        position: relative; }
        .header .header-sp .menu #g_nav .collapsible::before {
          content: "";
          width: 8px;
          height: 5px;
          background: url(../images/common/arrow_dropdown.png) center/contain no-repeat;
          position: absolute;
          top: 50%;
          right: 14px;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%); }
      .header .header-sp .menu #g_nav .content {
        max-height: 0;
        padding: 0 22px;
        border-bottom: 1px solid #1c1f4c;
        overflow: hidden;
        -webkit-transition: max-height 0.2s ease-out;
        transition: max-height 0.2s ease-out; }
        .header .header-sp .menu #g_nav .content a {
          display: block;
          font-size: 10px;
          line-height: 1;
          text-align: left;
          padding: 7px 5px;
          color: #393939;
          border-right: none;
          border-bottom: 1px dotted #d8d8d8; }
          .header .header-sp .menu #g_nav .content a:first-child {
            border-left: none; }
          .header .header-sp .menu #g_nav .content a:last-child {
            border-bottom: none;
            padding-bottom: 17px; }
    .header .header-sp .menu #h_nav {
      padding: 6px 15px 11px;
      background: #1c1f4c; }
      .header .header-sp .menu #h_nav a {
        display: inline-block;
        font-size: 9px;
        line-height: 1;
        color: #ffffff;
        padding: 0 6px;
        border-right: 1px solid #ffffff; }
        .header .header-sp .menu #h_nav a:last-child {
          border-right: none; }
    .header .header-sp .menu.toggle {
      opacity: 1;
      z-index: 9; }

/* ------------------------------------------------------------ footer */
.footer {
  max-width: 890px;
  padding: 105px 0 20px; }
  .footer #f_bnrs {
    margin-bottom: 153px; }
    .footer #f_bnrs .slick-slide img {
      margin: auto; }
    .footer #f_bnrs .slick-prev {
      width: 30px;
      height: 30px;
      background: url(../images/common/slide_prev_footer.png);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      left: -45px;
      top: 20px; }
      .footer #f_bnrs .slick-prev::before {
        content: none; }
    .footer #f_bnrs .slick-next {
      display: none; }
  .footer .f_logo {
    text-align: center;
    margin-bottom: 23px; }
  .footer .f_tel_address {
    margin-bottom: 34px; }
    .footer .f_tel_address li {
      display: inline-block;
      color: #393939; }
    .footer .f_tel_address .f_tel {
      font-family: "Poppins-Regular";
      font-size: 30px;
      line-height: 60px;
      margin-left: 155px; }
    .footer .f_tel_address .f_address {
      font-family: "Noto-Sans-JP-Light";
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-left: 25px;
      position: relative;
      bottom: 2px; }
  .footer .contact_us {
    display: inline-block;
    margin-bottom: 68px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }
  .footer .f_sns {
    text-align: center;
    margin-bottom: 60px; }
    .footer .f_sns li {
      display: inline-block;
      margin: 0 13px; }
  .footer .f_policy {
    text-align: center;
    margin-bottom: 56px; }
    .footer .f_policy li {
      display: inline-block;
      width: 220px;
      text-align: center;
      background: #393939 url(../images/common/arrow_right_3.png) 95% center no-repeat;
      margin: 0 10px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px; }
      .footer .f_policy li a {
        font-family: "Noto-Sans-JP-Light";
        font-size: 12px;
        line-height: 23px;
        color: #ffffff; }
  .footer .f_links {
    text-align: center;
    margin-bottom: 35px; }
    .footer .f_links a {
      font-family: "Noto-Sans-JP-Light";
      font-size: 12px;
      line-height: 23px;
      color: #393939;
      margin: 0 7px; }
  .footer small {
    display: block;
    font-family: "Noto-Sans-JP-Light";
    font-size: 10px;
    line-height: 1;
    color: #393939;
    text-align: center; }

/* ------------------------------------------------------------ etc */
#g_nav {
  background: #ffffff;
  padding: 20px 0 15px;
  text-align: center; }
  #g_nav a {
    display: inline-block;
    font-size: 14px;
    line-height: 45px;
    color: #393939;
    padding: 0 33.5px;
    border-right: 1px solid #d2d2d2; }
    #g_nav a:first-child {
      border-left: 1px solid #d2d2d2; }

#bread {
  padding-top: 10px; }
  #bread li {
    display: inline-block;
    position: relative; }
    #bread li a {
      font-size: 12px;
      line-height: 28px;
      color: #393939; }
    #bread li:not(:last-child) {
      margin-right: 32px; }
      #bread li:not(:last-child)::before {
        content: "";
        width: 10px;
        height: 1px;
        background: #393939;
        position: absolute;
        bottom: 13px;
        right: -23px; }

/* ------------------------------------------------------------ mobile ------------------------------------------------------------ */
@media only screen and (max-width: 640px) {
  .inner {
    width: 90%;
    margin: 0 auto; }
  body {
    min-width: 100%;
    max-width: 100%; }
  .PC {
    display: none !important; }
  .SP {
    display: block !important; }
  img {
    height: auto; }
  /* ------------------------------------------------------------ header */
  /* ------------------------------------------------------------ footer */
  .footer {
    padding: 22px 0 50px; }
    .footer #f_bnrs {
      width: calc(100% - 24px);
      margin: 0 auto 60px; }
      .footer #f_bnrs li {
        padding: 0 2px; }
        .footer #f_bnrs li img {
          width: 100%; }
      .footer #f_bnrs .slick-prev {
        width: 25px !important;
        height: 25px !important;
        background-size: contain !important;
        left: -25px !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        -webkit-transform: translateY(-50%) !important;
        -moz-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
        -o-transform: translateY(-50%) !important; }
      .footer #f_bnrs .slick-next {
        width: 25px;
        height: 25px;
        background: url(../images/common/slide_next.png) center/contain no-repeat;
        right: -25px;
        top: 50%; }
        .footer #f_bnrs .slick-next::before {
          content: none; }
    .footer .f_logo {
      margin-bottom: 15px; }
      .footer .f_logo img {
        width: 100%; }
    .footer .f_tel_address {
      text-align: center;
      margin-bottom: 15px; }
      .footer .f_tel_address .f_tel {
        width: 100%;
        font-size: 22px !important;
        line-height: 26px !important;
        margin-left: 0 !important; }
        .footer .f_tel_address .f_tel img {
          width: 13px;
          margin-right: 3px; }
      .footer .f_tel_address .f_address img {
        width: 10px;
        margin-right: 3px; }
    .footer .contact_us {
      margin-bottom: 37px; }
      .footer .contact_us img {
        width: 222px; }
    .footer .f_sns {
      margin-bottom: 23px; }
      .footer .f_sns li {
        margin: 0 8px; }
        .footer .f_sns li img {
          width: 28px; }
    .footer .f_policy {
      margin-bottom: 20px; }
      .footer .f_policy li {
        margin: 0 auto 5px !important; }
        .footer .f_policy li a {
          font-size: 10px;
          line-height: 21px; }
    .footer .f_links {
      margin-bottom: 32px; }
      .footer .f_links a {
        display: inline-block;
        font-size: 9px;
        line-height: 10px;
        margin: 0 5px; }
    .footer small {
      font-size: 8.5px; }
  /* ------------------------------------------------------------ etc */
  #bread {
    padding-top: 10px; }
    #bread li a {
      font-size: 10px;
      line-height: 12px; }
    #bread li:not(:last-child) {
      margin-right: 20px; }
      #bread li:not(:last-child)::before {
        width: 8px;
        bottom: 5px;
        right: -15px; } }
