#index h2.title1 {
  font-family: "Noto-Sans-JP-Bold";
  font-size: 80px;
  line-height: 1;
  font-style: italic;
  margin-bottom: 23px; }
  #index h2.title1 span {
    display: block;
    font-family: "Poppins-LightItalic";
    font-size: 24px;
    line-height: 1;
    color: #0555c1;
    margin-bottom: 5px; }
    #index h2.title1 span strong {
      font-family: "Poppins-BoldItalic";
      font-weight: bold; }

#index #fv {
  height: 800px;
  margin-bottom: 92px;
  background: url("../images/index/FV7.png") center/cover;
  position: relative; }
  #index #fv::before {
    content: "";
    width: 380px;
    height: 523px;
    background: url("../images/index/fv1.png");
    position: absolute;
    bottom: -53px;
    left: calc((100% - 1100px) / 2 - 50px); }

#index #news {
  max-width: 980px;
  padding: 25px 0 23px;
  margin: 0 auto 50px;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; }
  #index #news .content {
    width: 50%;
    float: left; }
    #index #news .content .tag_date {
      margin-bottom: 12px; }
      #index #news .content .tag_date .tag {
        display: inline-block;
        min-width: 110px;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
        background: #000000;
        padding: 0 15px;
        text-align: center;
        margin-right: 20px;
        border-radius: 10px; }
      #index #news .content .tag_date .date {
        display: inline-block;
        font-family: "Poppins-Regular";
        font-size: 18px;
        line-height: 20px;
        color: #000; }
    #index #news .content h3 {
      font-size: 14px;
      line-height: 1;
      color: #000; }
  #index #news .more {
    width: calc(50% - 30px);
    float: left;
    font-family: "Poppins-SemiBold";
    font-size: 12px;
    line-height: 1;
    color: #393939;
    text-align: right;
    margin-top: 15px;
    padding-right: 30px;
    background: url("../images/index/arrow-right.png") center right no-repeat; }

#index #corona {
  max-width: 980px;
  margin: 0 auto 100px; }
  #index #corona h2 {
    text-align: center;
    position: relative;
    margin-bottom: 40px; }
    #index #corona h2::before {
      content: "";
      width: 100%;
      height: 5px;
      background: #0555c1;
      position: absolute;
      left: 0;
      top: 55%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    #index #corona h2 span {
      display: inline-block;
      width: 90%;
      max-width: 600px;
      font-family: "Noto-Sans-JP-Medium";
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      text-align: center;
      background: #0555c1;
      padding: 11px 0;
      position: relative; }
  #index #corona ul {
    margin-bottom: 13px; }
    #index #corona ul li {
      display: block;
      float: left;
      width: 25%;
      margin-bottom: 30px;
      border-right: 1px solid #bfbfbf;
      padding: 10px 0 6px 105px; }
      #index #corona ul li h3 {
        font-size: 14px;
        line-height: 24px;
        color: #393939; }
      #index #corona ul li .line-yw {
        border-bottom: 2px solid #fccf17; }
      #index #corona ul li:first-child {
        background: url("../images/index/corona_1.png") 58px 4px no-repeat; }
      #index #corona ul li:nth-child(2) {
        background: url("../images/index/corona_2.png") 58px 4px no-repeat; }
      #index #corona ul li:nth-child(3) {
        background: url("../images/index/corona_3.png") 58px 4px no-repeat; }
      #index #corona ul li:nth-child(4) {
        border-right: none;
        background: url("../images/index/corona_4.png") 58px 4px no-repeat; }
      #index #corona ul li:nth-last-child(4) {
        background: url("../images/index/corona_5.png") 58px 4px no-repeat; }
      #index #corona ul li:nth-last-child(3) {
        background: url("../images/index/corona_6.png") 58px 4px no-repeat; }
      #index #corona ul li:nth-last-child(2) {
        background: url("../images/index/corona_7.png") 58px 4px no-repeat; }
      #index #corona ul li:last-child {
        border-right: none;
        background: url("../images/index/corona_8.png") 58px 4px no-repeat; }
  #index #corona .black_btn {
    max-width: 450px;
    padding: 11px 65px 11px 48px;
    background: #000000 url("../images/index/arrow_right_2.png") 95% center no-repeat;
    border-radius: 25px;
    margin: 0 auto;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px; }
    #index #corona .black_btn a {
      font-family: "Poppins-LightItalic";
      font-size: 14px;
      line-height: 28px;
      color: #fff;
      letter-spacing: 0.5px; }

#bnrs {
  padding: 102px 0 134px;
  background: url(../images/index/bnrs_bg.jpg) center; }
  #bnrs #bnr_slider {
    margin-bottom: 0 !important; }
    #bnrs #bnr_slider .slick-slide img {
      margin: auto; }
    #bnrs #bnr_slider .slick-dots {
      bottom: -35px; }
      #bnrs #bnr_slider .slick-dots li {
        width: auto;
        height: auto;
        margin: 0 3px; }
        #bnrs #bnr_slider .slick-dots li button {
          width: 24px;
          height: 4px;
          padding: 0;
          background: #bfbfbf; }
          #bnrs #bnr_slider .slick-dots li button::before {
            content: none; }
        #bnrs #bnr_slider .slick-dots li.slick-active button {
          background: #fccf17; }

#course {
  padding: 98px 0 125px; }
  #course p.intro {
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-bottom: 60px;
    font-family: "No"; }
  #course h2.title1 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 80px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 23px; }
    #course h2.title1 span {
      display: block;
      font-family: "Poppins-LightItalic";
      font-size: 24px;
      line-height: 1;
      color: #0555c1;
      margin-bottom: 5px; }
      #course h2.title1 span strong {
        font-weight: bold; }
  #course .c_list {
    position: relative; }
    #course .c_list .black_btn {
      width: 100%;
      max-width: 280px;
      padding: 9px 51px 9px 55px;
      background: #1a1a1a url("../images/common/arrow_right_3.png") 93% center no-repeat;
      border-radius: 25px;
      position: absolute;
      bottom: 40px;
      right: 0; }
      #course .c_list .black_btn a {
        font-family: "Noto-Sans-JP-Light";
        font-size: 14px;
        line-height: 28px;
        color: #ffffff;
        letter-spacing: 0.5px; }
  #course article {
    width: 356px;
    float: left;
    margin: 0 15px 40px 0; }
    #course article:nth-of-type(3n) {
      margin-right: 0; }
    #course article .img {
      position: relative; }
      #course article .img .new {
        position: absolute;
        top: -27px;
        left: -21px; }
    #course article .textbox {
      width: 300px;
      height: 80px;
      color: #fff;
      margin: -32px 0 0 28px;
      position: relative; }
      #course article .textbox p {
        width: 276px;
        height: 24px;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        text-align: center;
        background: url("../images/index/para.png");
        position: relative;
        top: -10px;
        left: 11px; }
      #course article .textbox h3 {
        font-family: "Noto-Sans-JP-Bold";
        font-size: 24px;
        line-height: 26px;
        font-style: italic;
        padding: 8px 20px 0; }
        #course article .textbox h3 span {
          display: inline-block;
          font-size: 14px;
          line-height: 18px;
          border: 1px solid #fff;
          padding: 0 6px;
          margin-left: 18px;
          position: relative;
          bottom: 3px; }
      #course article .textbox h4 {
        font-family: "Noto-Sans-JP-Light";
        font-size: 12px;
        line-height: 1;
        padding: 2px 10px 0;
        letter-spacing: -0.5px; }
    #course article .red {
      height: 100px;
      background: #e93636;
      margin-top: -43px; }
      #course article .red h3 {
        padding-top: 0; }
    #course article .blue {
      height: 92px;
      background: #0054ff;
      margin-top: -35px; }
    #course article .pink {
      height: 92px;
      background: #e04b77;
      margin-top: -35px; }
    #course article .green {
      background: #6da724; }
    #course article .yellow {
      background: #ffc400; }
    #course article .orange {
      background: #f28200; }
    #course article .violet {
      background: #790d6e; }
      #course article .violet p {
        letter-spacing: -1.5px; }
    #course article .light-blue {
      background: #1492d5; }

#feature {
  padding: 85px 0 80px;
  background: url("../images/index/feature_bg_main.jpg") center/cover;
  overflow-x: hidden; }
  #feature h2.title1 {
    letter-spacing: -9px;
    margin-left: -15px;
    font-size: 80px;
    font-family: "Noto-Sans-JP-Bold";
    padding-bottom: 30px; }
    #feature h2.title1 span {
      letter-spacing: 0;
      margin-left: 15px; }
      #feature h2.title1 span strong {
        font-family: "Poppins-BoldItalic";
        display: block;
        color: #0555c1;
        font-size: 24px;
        line-height: 16px;
        font-weight: bold; }
  #feature .gallery {
    width: 3904px;
    margin-bottom: 33px; }
    #feature .gallery .loop {
      width: 1952px;
      float: left; }
    #feature .gallery .loop-5 {
      animation: loop5 50s -25s linear infinite;
      -webkit-animation: loop5 50s -25s linear infinite; }
    #feature .gallery .loop-6 {
      animation: loop6 50s linear infinite;
      -webkit-animation: loop6 50s linear infinite; }
    #feature .gallery .large {
      width: 620px;
      float: left;
      margin-right: 30px; }
    #feature .gallery .small {
      width: 300px;
      float: left;
      margin-right: 26px; }
    #feature .gallery a {
      display: block;
      position: relative; }
      #feature .gallery a::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        left: 11px;
        background: #b6b6b6 url("../images/index/feature_bg.jpg"); }
      #feature .gallery a img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 21px; }
  #feature .w-980 {
    max-width: 980px; }
  #feature .more_btn {
    width: 215px;
    font-family: "Poppins-SemiBold";
    font-size: 16px;
    line-height: 16px;
    color: #393939;
    padding: 13px;
    border-bottom: 2px solid #393939;
    margin-left: auto; }
  #feature .intro {
    font-family: "Noto-Sans-JP-Regular";
    font-size: 16px;
    letter-spacing: 40;
    margin-bottom: 60px; }

#open_campus {
  overflow-x: hidden; }
  #open_campus h2.title1 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 80px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 23px; }
    #open_campus h2.title1 span {
      display: block;
      font-family: "Poppins-LightItalic";
      font-size: 24px;
      line-height: 1;
      color: #0555c1;
      margin-bottom: 5px; }
      #open_campus h2.title1 span strong {
        font-family: "Poppins-BoldItalic";
        font-weight: bold; }
  #open_campus p.intro {
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-bottom: 60px; }
  #open_campus .btn1 {
    width: 300px;
    font-family: "Noto-Sans-JP-Light";
    font-size: 14px;
    line-height: 35px;
    color: #393939;
    text-align: center;
    background: #ffffff url(../images/common/arrow_right.png) 94% center no-repeat;
    border: 1px solid #393939;
    border-radius: 20px;
    margin: auto;
    position: relative;
    left: 15px; }
  #open_campus h2.title {
    font-size: 100px;
    letter-spacing: -7px;
    margin-bottom: 17px; }
    #open_campus h2.title span {
      font-size: 30px;
      letter-spacing: 0; }
  #open_campus p.intro {
    line-height: 30px;
    margin-bottom: 56px; }
  #open_campus .inner {
    padding: 264px 0 120px;
    position: relative; }
    #open_campus .inner::before {
      content: "";
      width: 613px;
      height: 1080px;
      background: url("../images/index/open_campus_decor_1.png");
      position: absolute;
      top: 42px;
      left: -662px; }
    #open_campus .inner::after {
      content: "";
      width: 612px;
      height: 1080px;
      background: url("../images/index/open_campus_decor_2.png");
      position: absolute;
      bottom: 38px;
      right: -683px; }
  #open_campus .oc_list article {
    width: 520px;
    float: left;
    margin-right: 60px;
    margin-bottom: 104px; }
    #open_campus .oc_list article h3 {
      font-size: 16px;
      line-height: 27px;
      color: #393939;
      padding-left: 30px;
      margin-top: 27px;
      margin-bottom: 35px; }
    #open_campus .oc_list article:nth-of-type(2n) {
      margin-right: 0; }

#iken_now {
  background: #f6f4f7;
  overflow-x: hidden; }
  #iken_now h2.title1 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 80px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 23px; }
    #iken_now h2.title1 span {
      display: block;
      font-family: "Poppins-LightItalic";
      font-size: 24px;
      line-height: 1;
      color: #0555c1;
      margin-bottom: 5px; }
      #iken_now h2.title1 span strong {
        font-family: "Poppins-BoldItalic";
        font-weight: bold; }
  #iken_now p.intro {
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-bottom: 60px; }
  #iken_now .btn1 {
    width: 300px;
    font-family: "Noto-Sans-JP-Light";
    font-size: 14px;
    line-height: 35px;
    color: #393939;
    text-align: center;
    background: #ffffff url(../images/common/arrow_right.png) 94% center no-repeat;
    border: 1px solid #393939;
    border-radius: 20px;
    margin: auto;
    position: relative;
    left: 15px; }
  #iken_now .inner {
    padding: 0 30px;
    position: relative; }
  #iken_now > .inner {
    padding: 98px 30px 30px;
    position: relative; }
    #iken_now > .inner .decor-1 {
      position: absolute;
      top: 25px;
      left: -228px; }
  #iken_now .h3-title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 74px;
    position: relative; }
    #iken_now .h3-title::before {
      content: "";
      width: 80px;
      height: 4px;
      background: #ef5241;
      position: absolute;
      bottom: -25px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    #iken_now .h3-title::after {
      content: "";
      width: 81px;
      height: 84px;
      background: url(../images/index/now_decor_4.png) no-repeat;
      position: absolute;
      top: -55px;
      left: 30px; }
    #iken_now .h3-title span {
      display: block;
      font-family: "Poppins-BoldItalic";
      font-size: 80px;
      line-height: 1;
      margin-bottom: 38px; }
    #iken_now .h3-title img {
      vertical-align: top;
      margin-right: 15px; }
  #iken_now p.intro {
    margin-bottom: 57px; }
  #iken_now #instagram {
    padding-bottom: 160px; }
    #iken_now #instagram .gallery {
      width: 4080px;
      margin-bottom: 50px; }
      #iken_now #instagram .gallery .loop {
        width: 1020px;
        float: left; }
      #iken_now #instagram .gallery .loop-1 {
        animation: loop1 50s -25s linear infinite;
        -webkit-animation: loop1 50s -25s linear infinite; }
      #iken_now #instagram .gallery .loop-2 {
        animation: loop2 50s -25s linear infinite;
        -webkit-animation: loop2 50s -12.5s linear infinite; }
      #iken_now #instagram .gallery .loop-3 {
        animation: loop3 50s -22.5s linear infinite;
        -webkit-animation: loop3 50s 0s linear infinite; }
      #iken_now #instagram .gallery .loop-4 {
        animation: loop4 50s linear infinite;
        -webkit-animation: loop4 50s 12.5s linear infinite; }
      #iken_now #instagram .gallery a {
        display: block;
        float: left;
        margin-right: 10px; }
        #iken_now #instagram .gallery a img {
          display: block; }
    #iken_now #instagram .buttons {
      text-align: center; }
      #iken_now #instagram .buttons .btn2 {
        display: inline-block;
        width: 440px;
        height: 50px;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        background: url(../images/index/btn_instagram_1.png);
        margin: 0 20px; }
      #iken_now #instagram .buttons .btn3 {
        display: inline-block;
        width: 440px;
        height: 50px;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        background: url(../images/index/btn_instagram_2.png);
        margin: 0 20px; }
      #iken_now #instagram .buttons a {
        color: #ffffff; }
  #iken_now #youtube .decor-2 {
    position: absolute;
    top: -45px;
    right: -173px; }
  #iken_now #youtube .h3-title {
    margin-bottom: 22px; }
    #iken_now #youtube .h3-title::before {
      background: #000000;
      bottom: 40px; }
    #iken_now #youtube .h3-title::after {
      background-image: url(../images/index/now_decor_5.png) no-repeat;
      top: -32px;
      left: 0; }
  #iken_now #youtube #mo_slider {
    padding-bottom: 218px;
    margin-bottom: 0; }
    #iken_now #youtube #mo_slider .movie_wrap {
      width: 830px !important;
      height: 467px;
      margin-left: 20px;
      position: relative; }
      #iken_now #youtube #mo_slider .movie_wrap iframe {
        position: absolute;
        width: 100%;
        height: 100%; }
    #iken_now #youtube #mo_slider .slick-dots {
      bottom: 167px; }
      #iken_now #youtube #mo_slider .slick-dots li {
        width: auto;
        height: auto;
        margin: 0 3px; }
        #iken_now #youtube #mo_slider .slick-dots li button {
          width: 24px;
          height: 4px;
          padding: 0;
          background: #bfbfbf; }
          #iken_now #youtube #mo_slider .slick-dots li button::before {
            content: none; }
        #iken_now #youtube #mo_slider .slick-dots li.slick-active button {
          background: #fccf17; }
    #iken_now #youtube #mo_slider .slick-prev {
      width: 40px;
      height: 40px;
      background: url(../images/common/slide_prev.png);
      border-radius: 20px;
      left: auto;
      top: auto;
      right: calc((100% - 980px) / 2 + 50px);
      bottom: 150px;
      -webkit-transform: none;
              transform: none;
      z-index: 1; }
      #iken_now #youtube #mo_slider .slick-prev::before {
        content: none; }
    #iken_now #youtube #mo_slider .slick-next {
      width: 40px;
      height: 40px;
      background: url(../images/common/slide_next.png);
      border-radius: 20px;
      left: auto;
      top: auto;
      right: calc((100% - 980px) / 2);
      bottom: 150px;
      -webkit-transform: none;
              transform: none;
      z-index: 1; }
      #iken_now #youtube #mo_slider .slick-next::before {
        content: none; }
  #iken_now #youtube .last-decor .decor-3 {
    position: absolute;
    bottom: 64px;
    left: -145px; }
  #iken_now .box {
    max-width: 980px;
    padding-bottom: 105px;
    margin: auto; }
    #iken_now .box .h3-title {
      margin-bottom: 43px; }
      #iken_now .box .h3-title::before {
        bottom: -13px; }
    #iken_now .box #blog {
      width: 432px;
      float: left;
      padding-left: 30px;
      margin-right: 110px; }
      #iken_now .box #blog .h3-title::before {
        width: 60px;
        background: #28b790; }
      #iken_now .box #blog .h3-title::after {
        background-image: url(../images/index/now_decor_6.png) no-repeat;
        top: -36px;
        left: -60px; }
      #iken_now .box #blog .h3-title span {
        font-size: 48px; }
      #iken_now .box #blog .img {
        margin-bottom: 22px; }
        #iken_now .box #blog .img img {
          display: block;
          width: 400px;
          height: 300px;
          -o-object-fit: cover;
             object-fit: cover; }
      #iken_now .box #blog .textbox {
        padding-left: 7px; }
        #iken_now .box #blog .textbox ul {
          margin-bottom: 15px; }
          #iken_now .box #blog .textbox ul .category {
            display: inline-block;
            min-width: 115px;
            font-size: 12px;
            line-height: 23px;
            color: #ffffff;
            text-align: center;
            padding: 0 10px;
            background: #0555c1;
            margin-right: 12px;
            border-radius: 12px; }
          #iken_now .box #blog .textbox ul .date {
            display: inline-block;
            font-family: "Poppins-Medium";
            font-size: 14px;
            line-height: 23px;
            color: #000000; }
        #iken_now .box #blog .textbox h4 {
          font-size: 18px;
          line-height: 24px;
          color: #393939;
          margin-bottom: 35px; }
      #iken_now .box #blog .btn1 {
        margin-left: 48px;
        left: 0; }
    #iken_now .box #campus_life {
      width: 438px;
      float: left; }
      #iken_now .box #campus_life .h3-title::before {
        width: 60px;
        background: #f59500; }
      #iken_now .box #campus_life .h3-title::after {
        background-image: url(../images/index/now_decor_7.png) no-repeat;
        top: -36px;
        left: 0px; }
      #iken_now .box #campus_life .h3-title span {
        font-size: 42px;
        line-height: 52px; }
      #iken_now .box #campus_life .main-img {
        margin-bottom: 30px; }
      #iken_now .box #campus_life .btn1 {
        left: 0;
        margin-bottom: 65px; }
      #iken_now .box #campus_life #sns h4 {
        font-family: "Noto-Sans-JP-Bold";
        font-size: 30px;
        line-height: 1;
        text-align: center;
        margin-bottom: 42px;
        position: relative; }
        #iken_now .box #campus_life #sns h4::before {
          content: "";
          width: 60px;
          height: 4px;
          background: #0555c1;
          position: absolute;
          bottom: -22px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%); }
      #iken_now .box #campus_life #sns .twitter_btn {
        width: 300px;
        font-family: "Noto-Sans-JP-Light";
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
        text-align: center;
        padding: 4px 0;
        background: #1ea1f2 url(../images/common/arrow_right_3.png) 95% center no-repeat;
        margin: 0 auto 15px;
        border-radius: 20px;
        position: relative; }
        #iken_now .box #campus_life #sns .twitter_btn img {
          position: absolute;
          top: 10px;
          left: 22px; }
      #iken_now .box #campus_life #sns .line_btn {
        width: 300px;
        font-family: "Noto-Sans-JP-Light";
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
        text-align: center;
        padding: 4px 0;
        background: #02b902 url(../images/common/arrow_right_3.png) 95% center no-repeat;
        margin: 0 auto 15px;
        border-radius: 20px;
        position: relative; }
        #iken_now .box #campus_life #sns .line_btn img {
          position: absolute;
          top: 8px;
          left: 19px; }

#like {
  padding: 27px 0 32px; }
  #like h3 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 36px;
    line-height: 1;
    text-align: center;
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 36px; }
    #like h3 span {
      font-size: 48px;
      color: #0555c1;
      font-style: italic; }
  #like ul {
    max-width: 1348px;
    margin: auto; }
    #like ul li {
      width: 50%;
      float: left;
      padding: 0 20px; }
      #like ul li img {
        width: 100%;
        height: auto; }

.footer {
  max-width: 890px;
  padding: 105px 0 20px; }
  .footer #f_bnrs {
    margin-bottom: 153px; }
    .footer #f_bnrs .slick-slide img {
      margin: auto; }
    .footer #f_bnrs .slick-prev {
      width: 30px;
      height: 30px;
      background: url(../images/common/slide_prev_footer.png);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      -webkit-transform: none;
              transform: none;
      left: -45px;
      top: 20px; }
      .footer #f_bnrs .slick-prev::before {
        content: none; }
    .footer #f_bnrs .slick-next {
      display: none; }
  .footer .f_logo {
    text-align: center;
    margin-bottom: 23px; }
  .footer .f_tel_address {
    margin-bottom: 34px; }
    .footer .f_tel_address li {
      display: inline-block;
      color: #393939; }
    .footer .f_tel_address .f_tel {
      font-family: "Poppins-Regular";
      font-size: 30px;
      line-height: 60px;
      margin-left: 155px; }
    .footer .f_tel_address .f_address {
      font-family: "Noto-Sans-JP-Light";
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-left: 25px;
      position: relative;
      bottom: 2px; }
  .footer .contact_us {
    display: inline-block;
    margin-bottom: 68px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }
  .footer .f_sns {
    text-align: center;
    margin-bottom: 60px; }
    .footer .f_sns li {
      display: inline-block;
      margin: 0 13px; }
  .footer .f_policy {
    text-align: center;
    margin-bottom: 56px; }
    .footer .f_policy li {
      display: inline-block;
      width: 220px;
      text-align: center;
      background: #393939 url(../images/common/arrow_right_3.png) 95% center no-repeat;
      margin: 0 10px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px; }
      .footer .f_policy li a {
        font-family: "Noto-Sans-JP-Light";
        font-size: 12px;
        line-height: 23px;
        color: #ffffff; }
  .footer .f_links {
    text-align: center;
    margin-bottom: 35px; }
    .footer .f_links a {
      font-family: "Noto-Sans-JP-Light";
      font-size: 12px;
      line-height: 23px;
      color: #393939;
      margin: 0 7px; }
  .footer small {
    display: block;
    font-family: "Noto-Sans-JP-Light";
    font-size: 10px;
    line-height: 1;
    color: #393939;
    text-align: center; }

@media only screen and (max-width: 640px) {
  #index p.intro {
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 32px; }
  #index #fv {
    height: 328px;
    background-position-x: 87%;
    margin-bottom: 122px; }
    #index #fv::before {
      width: 235px;
      height: 156px;
      background: url(../images/index/fv_sup_sp.jpg) center/cover;
      left: 50%;
      bottom: -82px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%); }
  #index #news {
    min-height: 70px;
    margin: 0 22px 40px;
    padding: 10px 0; }
    #index #news .content {
      width: 100%; }
      #index #news .content .tag_date {
        margin-bottom: 5px; }
        #index #news .content .tag_date .tag {
          min-width: 55px;
          font-size: 10px;
          line-height: 15px;
          padding: 0 7px;
          margin-right: 0; }
        #index #news .content .tag_date .date {
          font-size: 10px;
          line-height: 15px; }
      #index #news .content h3 {
        font-size: 11px; }
    #index #news .more {
      width: 100%;
      font-size: 10px;
      margin-top: 5px; }
  #index #corona {
    margin: 0 22px 50px; }
    #index #corona h2 {
      margin-bottom: 15px; }
      #index #corona h2::before {
        height: 2px;
        top: 55%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
      #index #corona h2 span {
        width: 235px;
        font-size: 12px;
        line-height: 15px;
        padding: 4px 0; }
    #index #corona ul {
      width: 255px;
      margin: 0 auto 35px; }
      #index #corona ul li {
        width: 33.33% !important;
        height: 90px;
        border-right: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        padding: 42px 0 0 !important;
        margin-bottom: 0; }
        #index #corona ul li:first-child {
          background: url(../images/index/corona_1.png) center 18px/25px no-repeat; }
        #index #corona ul li h3 {
          font-size: 10px;
          line-height: 17px;
          text-align: center; }
        #index #corona ul li .yellow-line {
          border-bottom: 2px solid #fccf17; }
        #index #corona ul li:nth-of-type(2) {
          background: url(../images/index/corona_2.png) center 22px/27px no-repeat; }
        #index #corona ul li:nth-of-type(3) {
          border-right: none;
          background: url(../images/index/corona_3.png) center 19px/22px no-repeat; }
        #index #corona ul li:nth-of-type(4) {
          height: 80px;
          border-right: 1px solid #d9d9d9;
          background: url(../images/index/corona_4.png) center 21px/22px no-repeat; }
        #index #corona ul li:nth-of-type(5) {
          height: 80px;
          background: url(../images/index/corona_5.png) center 19px/23px no-repeat; }
        #index #corona ul li:nth-of-type(6) {
          height: 80px;
          border-right: none;
          background: url(../images/index/corona_6.png) center 17px/24px no-repeat; }
        #index #corona ul li:nth-of-type(7) {
          border-bottom: none;
          background: url(../images/index/corona_7.png) center 12px/24px no-repeat; }
        #index #corona ul li:nth-of-type(8) {
          border-right: 1px solid #d9d9d9;
          border-bottom: none;
          background: url(../images/index/corona_8.png) center 16px/22px no-repeat; }
    #index #corona .black_btn {
      display: none; }
  #index #bnrs {
    padding: 30px 0 43px; }
    #index #bnrs #bnr_slider .slick-slide img {
      width: calc(100% - 7px);
      height: 100px;
      margin: auto; }
    #index #bnrs #bnr_slider .slick-dots {
      bottom: -15px; }
      #index #bnrs #bnr_slider .slick-dots li {
        margin: 0 3px; }
        #index #bnrs #bnr_slider .slick-dots li button {
          width: 16px;
          height: 3px; }
  #course {
    padding: 35px 0 55px; }
    #course p.intro {
      font-size: 11px;
      line-height: 19px;
      font-family: "Noto-Sans-JP-Regular"; }
    #course h2.title1 {
      font-size: 20px; }
    #course .c_list {
      width: 100%;
      max-width: 310px;
      min-width: 280px;
      margin: auto; }
      #course .c_list .black_btn {
        width: 230px;
        float: left;
        text-align: center;
        padding: 7px;
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        margin-top: 12px; }
        #course .c_list .black_btn a {
          font-size: 12px; }
      #course .c_list article {
        width: 100%;
        margin: 0 0 10px;
        position: relative; }
        #course .c_list article .img .new {
          width: 26px;
          height: auto;
          top: -11px;
          left: -9px; }
        #course .c_list article .img img {
          width: 162px;
          height: 91px;
          -o-object-fit: cover;
             object-fit: cover; }
        #course .c_list article .textbox {
          width: 162px;
          height: 86px;
          margin: 0;
          position: absolute;
          right: 0;
          top: 2px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          #course .c_list article .textbox p {
            width: 152px;
            height: auto;
            font-size: 8px;
            line-height: 12px;
            letter-spacing: -0.5px;
            background: #ffffff;
            -webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
                    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
            padding: 1px 5px;
            position: relative;
            top: 0;
            left: 5px;
            margin-bottom: 3px; }
          #course .c_list article .textbox h3 {
            font-size: 14px;
            line-height: 15px;
            padding: 0 4px;
            margin-top: 2px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            #course .c_list article .textbox h3 span {
              display: inline-block;
              font-size: 9px;
              line-height: 13px;
              padding: 0 3px;
              margin-left: 0;
              bottom: 0; }
          #course .c_list article .textbox h4 {
            font-size: 8.5px;
            line-height: 12px;
            padding: 0 5px; }
        #course .c_list article .red h3 {
          display: block;
          margin-bottom: 3px; }
          #course .c_list article .red h3 span {
            margin-left: 5px; }
  #feature {
    padding: 55px 0 45px; }
    #feature p.intro {
      font-size: 11px;
      line-height: 19px;
      margin-bottom: 32px; }
    #feature h2.title1 {
      letter-spacing: 0;
      margin-left: 0;
      font-size: 36px;
      margin-bottom: 8px; }
    #feature .gallery {
      width: 1680px;
      margin-bottom: 20px; }
      #feature .gallery .loop {
        width: 840px !important; }
      #feature .gallery a {
        width: 128px;
        height: 128px;
        float: left;
        margin-right: 12px; }
        #feature .gallery a::before {
          top: 5px;
          left: 4px;
          background-size: 240px; }
        #feature .gallery a img {
          margin-bottom: 0; }
    #feature .more_btn {
      width: 90px;
      font-size: 10px;
      line-height: 1;
      padding: 5px 5px;
      background-size: 10px; }
  #open_campus .inner {
    padding: 65px 0 25px; }
    #open_campus .inner::before {
      width: 60px;
      height: 140px;
      background: url(../images/index/open_campus_decor_1_sp.png) right top/100% no-repeat;
      top: 0;
      left: -10%;
      z-index: -1; }
    #open_campus .inner::after {
      width: 70px;
      height: 160px;
      background: url(../images/index/open_campus_decor_2_sp.png) left bottom/100% no-repeat;
      bottom: 0;
      right: -10%; }
  #open_campus h2.title1 {
    font-size: 36px;
    line-height: 41px;
    letter-spacing: -1px; }
    #open_campus h2.title1 span {
      font-size: 15px; }
  #open_campus p.intro {
    font-size: 11px;
    line-height: 19px;
    margin-bottom: 30px;
    font-family: "Noto-Sans-JP-Regular"; }
  #open_campus .oc_list article {
    width: 225px;
    float: none;
    margin: 0 auto 35px !important; }
    #open_campus .oc_list article img {
      width: 100%; }
    #open_campus .oc_list article h3 {
      font-size: 10px;
      line-height: 17px;
      padding: 0;
      margin: 8px 0;
      font-family: "Noto-Sans-JP-Regular"; }
    #open_campus .oc_list article .btn1 {
      width: 100%;
      left: 0;
      font-size: 10px;
      line-height: 28px;
      background-position-x: 97%; }
  #iken_now .inner {
    padding: 0; }
  #iken_now > .inner {
    padding: 42px 0 0; }
    #iken_now > .inner .decor-1 {
      width: 100px;
      left: auto;
      right: -6%; }
  #iken_now h2.title1 {
    font-size: 43px; }
  #iken_now p.intro {
    font-size: 10px;
    margin-bottom: 50px; }
  #iken_now .h3-title {
    font-size: 10px;
    margin-bottom: 40px; }
    #iken_now .h3-title::before {
      width: 35px;
      height: 2px;
      bottom: -12px; }
    #iken_now .h3-title::after {
      width: 35px;
      height: 36px;
      background-size: contain;
      top: -25px;
      left: 0; }
    #iken_now .h3-title span {
      font-size: 34px;
      margin-bottom: 16px; }
    #iken_now .h3-title img {
      width: 30px;
      margin-right: 6px; }
  #iken_now #instagram {
    padding-bottom: 70px; }
    #iken_now #instagram .gallery {
      margin-bottom: 20px; }
    #iken_now #instagram .buttons {
      width: 222px;
      margin: auto; }
      #iken_now #instagram .buttons .btn2 {
        width: 100%;
        height: 30px;
        font-size: 10px;
        line-height: 30px;
        background: url(../images/index/btn_instagram_1_sp.png) center/contain no-repeat;
        margin: 0 auto 5px; }
      #iken_now #instagram .buttons .btn3 {
        width: 100%;
        height: 30px;
        font-size: 10px;
        line-height: 30px;
        background: url(../images/index/btn_instagram_2_sp.png) center/contain no-repeat;
        margin: 0 auto; }
  #iken_now #youtube .decor-2 {
    width: 115px;
    left: auto;
    top: -52px;
    right: -6%; }
  #iken_now #youtube .h3-title::after {
    top: -23px; }
  #iken_now #youtube .h3-title::before {
    bottom: 20px; }
  #iken_now #youtube #mo_slider {
    padding-bottom: 127px; }
    #iken_now #youtube #mo_slider .movie_wrap {
      width: 235px !important;
      height: 132px;
      margin-left: 6px; }
    #iken_now #youtube #mo_slider .slick-dots {
      bottom: 105px; }
    #iken_now #youtube #mo_slider .slick-prev {
      width: 30px;
      height: 30px;
      background-size: contain;
      right: auto;
      left: calc(50% - 33px);
      bottom: 58px; }
    #iken_now #youtube #mo_slider .slick-next {
      width: 30px;
      height: 30px;
      background-size: contain;
      right: calc(50% - 33px);
      bottom: 58px; }
  #iken_now #youtube .last-decor .decor-3 {
    width: 100px;
    bottom: 30px;
    left: -7%; }
  #iken_now .box {
    width: 235px;
    padding-bottom: 40px;
    margin: auto; }
    #iken_now .box #blog {
      width: 100%;
      padding-left: 0;
      margin-bottom: 60px; }
      #iken_now .box #blog .h3-title {
        margin-bottom: 25px; }
        #iken_now .box #blog .h3-title::before {
          width: 25px;
          bottom: -5px; }
        #iken_now .box #blog .h3-title::after {
          top: -13px;
          left: -22px; }
        #iken_now .box #blog .h3-title span {
          font-size: 20px; }
        #iken_now .box #blog .h3-title img {
          width: 22px; }
      #iken_now .box #blog .img {
        margin-bottom: 12px; }
        #iken_now .box #blog .img img {
          width: 100%;
          height: 177px; }
      #iken_now .box #blog .textbox {
        padding-left: 0; }
        #iken_now .box #blog .textbox ul {
          margin-bottom: 5px; }
          #iken_now .box #blog .textbox ul .category {
            min-width: auto;
            font-size: 10px;
            line-height: 15px;
            padding: 0 7px;
            margin-right: 0; }
          #iken_now .box #blog .textbox ul .date {
            font-size: 10px;
            line-height: 15px; }
        #iken_now .box #blog .textbox h4 {
          font-size: 11px;
          line-height: 1;
          margin-bottom: 20px; }
      #iken_now .box #blog .btn1 {
        width: 222px;
        font-size: 10px;
        line-height: 28px;
        margin-left: auto; }
    #iken_now .box #campus_life {
      width: 100%; }
      #iken_now .box #campus_life .h3-title {
        margin-bottom: 25px; }
        #iken_now .box #campus_life .h3-title::before {
          width: 25px;
          bottom: -5px; }
        #iken_now .box #campus_life .h3-title::after {
          top: -22px;
          left: 0; }
        #iken_now .box #campus_life .h3-title span {
          font-size: 18px;
          line-height: 1; }
      #iken_now .box #campus_life .main-img {
        width: 100%;
        margin-bottom: 18px; }
      #iken_now .box #campus_life .btn1 {
        width: 222px;
        font-size: 10px;
        line-height: 28px;
        margin-left: auto;
        margin-bottom: 40px; }
      #iken_now .box #campus_life #sns h4 {
        font-size: 18px;
        margin-bottom: 18px; }
        #iken_now .box #campus_life #sns h4::before {
          width: 25px;
          height: 2px;
          bottom: -8px; }
      #iken_now .box #campus_life #sns .twitter_btn {
        width: 222px;
        font-size: 10px;
        margin: 0 auto 8px; }
        #iken_now .box #campus_life #sns .twitter_btn img {
          top: 8px;
          left: 14px; }
      #iken_now .box #campus_life #sns .line_btn {
        width: 222px;
        font-size: 10px;
        margin: 0 auto; }
        #iken_now .box #campus_life #sns .line_btn img {
          top: 8px;
          left: 13px; }
  #like {
    padding: 27px 0 32px; }
    #like h3 {
      font-size: 19px;
      line-height: 24px;
      margin-bottom: 12px; }
      #like h3 span {
        font-size: 25px; }
    #like ul li {
      width: 100%;
      margin-bottom: 8px;
      padding: 0 26px; }
  .footer .f_tel_address .f_address {
    font-family: "Noto-Sans-JP-Light";
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-left: 0px;
    position: relative;
    bottom: 0px; } }

@-webkit-keyframes loop1 {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%); }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%); } }

@keyframes loop1 {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%); }
  to {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%); } }

@-webkit-keyframes loop2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); } }

@keyframes loop2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%); } }

@-webkit-keyframes loop3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%); } }

@keyframes loop3 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  to {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%); } }

@-webkit-keyframes loop4 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); } }

@keyframes loop4 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  to {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%); } }

@-webkit-keyframes loop5 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes loop5 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes loop6 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%); } }

@keyframes loop6 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  to {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%); } }

/* ------------------------------------------------------------ common */
/* ------------------------------------------------------------ mobile */
