@charset "utf-8";

/* ------------------------------------------------------------ common */

body {
  width: 100%;
  min-width: 1100px;
}

a:link {
  color: #111;
  text-decoration: none;
}

a:visited {
  color: #111;
  text-decoration: none;
}

a:hover,
a:hover img,
input[type="submit"]:hover {
  color: #111;
  text-decoration: none;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

input[type="text"],
select,
textaera {
  border: 1px solid #b5b5b5;
  border-radius: inherit;
  outline: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  padding: 0;
  border: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.SP {
  display: none;
}

/* ------------------------------------------------------------ fonts */

@font-face {
  font-family: "Noto-Sans-JP-Light";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto-Sans-JP-DemiLight";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto-Sans-JP-Regular";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto-Sans-JP-Medium";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf)
      format("opentype");
}

@font-face {
  font-family: "Noto-Sans-JP-Bold";
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf)
      format("opentype");
}

@font-face {
  font-family: "JosefinSans-BoldItalic";
  src: url("../fonts/JosefinSans-BoldItalic?#iefix") format("embedded-opentype"),
    url("../fonts/JosefinSans-BoldItalic.woff") format("woff"),
    url("../fonts/JosefinSans-BoldItalic.ttf") format("truetype"),
    url("../fonts/JosefinSans-BoldItalic.otf") format("otf"),
    url("../fonts/JosefinSans-BoldItalic.svg") format("svg");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins/Poppins-Regular.woff2) format("woff2"),
    url(../fonts/Poppins/Poppins-Regular.woff) format("woff"),
    url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-LightItalic";
  src: url(../fonts/Poppins/Poppins-LightItalic.woff2) format("woff2"),
    url(../fonts/Poppins/Poppins-LightItalic.woff) format("woff"),
    url(../fonts/Poppins/Poppins-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  src: url(../fonts/Poppins/Poppins-BoldItalic.woff2) format("woff2"),
    url(../fonts/Poppins/Poppins-BoldItalic.woff) format("woff"),
    url(../fonts/Poppins/Poppins-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(../fonts/Poppins/Poppins-Medium.woff2) format("woff2"),
    url(../fonts/Poppins/Poppins-Medium.woff) format("woff"),
    url(../fonts/Poppins/Poppins-Medium.ttf) format("truetype");
}

/* ------------------------------------------------------------ header */

.header {
  .header-pc {
    border-bottom: 1px solid #1c1f4c;
    #h_nav {
      background: #1c1f4c;
      text-align: center;
      a {
        display: inline-block;
        font-family: "Noto-Sans-JP-Regular";
        font-size: 12px;
        color: #ffffff;
        line-height: 30px;
        padding: 0 21px;
        position: relative;
        &:not(:first-child) {
          &::before {
            content: "";
            width: 1px;
            height: 10px;
            background: #ffffff;
            position: absolute;
            top: 10px;
            left: -1px;
          }
        }
      }
    }
    .main {
      max-width: 1600px;
      height: 80px;
      background: #ffffff;
      padding: 0 28px 0 24px;
      margin: auto;
      .left {
        width: 50%;
        float: left;
        margin-top: 16px;
      }
      .right {
        width: 50%;
        float: left;
        text-align: right;
        padding-top: 20px;
        li {
          display: inline-block;
          margin-left: 27px;
          a {
            display: block;
            font-family: "Noto-Sans-JP-Regular";
            font-size: 12px;
            color: #393939;
            line-height: 1;
            padding-top: 27px;
            background: url(../images/common/email.png) center top no-repeat;
          }
          &:nth-of-type(2) a {
            background-image: url(../images/common/flag.png);
          }
          &:nth-of-type(3) a {
            background-image: url(../images/common/location.png);
          }
        }
      }
    }
  }
  .header-sp {
    width: 100%;
    height: 43px;
    background: #ffffff;
    position: relative;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    .logo {
      width: calc(100% - 43px);
      height: 43px;
      float: left;
      padding: 8px 0 0 13px;
      img {
        width: 220px;
      }
    }
    .burger {
      width: 43px;
      height: 43px;
      float: left;
      background: #0555c1 url(../images/common/menu.png) center / 28px no-repeat;
      &.toggle {
        background: #ffffff url(../images/common/close.png) center 18px / 18px
          no-repeat;
      }
    }
    .menu {
      width: 100%;
      float: left;
      position: absolute;
      top: 42px;
      z-index: 9;
      left: 0;
      opacity: 0;
      z-index: -1;
      background: #ffffff;
      padding-top: 27px;
      ul {
        text-align: center;
        margin-bottom: 30px;
        li {
          display: inline-block;
          width: 90px;
          height: 70px;
          text-align: center;
          letter-spacing: -0.5px;
          padding-top: 45px;
          background: url(../images/common/email_sp.png) center 13px / 30px
            no-repeat;
          border: 1px solid #1c1f4c;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          a {
            display: block;
            font-size: 9.5px;
            line-height: 1;
            color: #393939;
          }
          &:nth-of-type(2) {
            background-image: url(../images/common/flag_sp.png);
            background-size: 28px;
          }
          &:nth-of-type(3) {
            background-image: url(../images/common/location_sp.png);
            background-size: 22px;
          }
        }
      }
      #g_nav {
        padding: 0;
        margin: 0 22px 35px;
        border-top: 1px solid #1c1f4c;
        .collapsible {
          width: 100%;
          height: 43px;
          font-size: 12px;
          color: #393939;
          padding-left: 25px;
          background: #ffffff url(../images/common/polygon.png) left center /
            9px no-repeat;
          cursor: pointer;
          border: none;
          text-align: left;
          outline: none;
          position: relative;
          &::before {
            content: "";
            width: 8px;
            height: 5px;
            background: url(../images/common/arrow_dropdown.png) center /
              contain no-repeat;
            position: absolute;
            top: 50%;
            right: 14px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
          }
        }
        .content {
          max-height: 0;
          padding: 0 22px;
          border-bottom: 1px solid #1c1f4c;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          a {
            display: block;
            font-size: 10px;
            line-height: 1;
            text-align: left;
            padding: 7px 5px;
            color: #393939;
            border-right: none;
            border-bottom: 1px dotted #d8d8d8;
            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-bottom: none;
              padding-bottom: 17px;
            }
          }
        }
      }
      #h_nav {
        padding: 6px 15px 11px;
        background: #1c1f4c;
        a {
          display: inline-block;
          font-size: 9px;
          line-height: 1;
          color: #ffffff;
          padding: 0 6px;
          border-right: 1px solid #ffffff;
          &:last-child {
            border-right: none;
          }
        }
      }
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      &.toggle {
        opacity: 1;
        z-index: 9;
      }
    }
  }
}

/* ------------------------------------------------------------ footer */

.footer {
  max-width: 890px;
  padding: 105px 0 20px;
  #f_bnrs {
    margin-bottom: 153px;
    .slick-slide img {
      margin: auto;
    }
    .slick-prev {
      width: 30px;
      height: 30px;
      background: url(../images/common/slide_prev_footer.png);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      left: -45px;
      top: 20px;
      &::before {
        content: none;
      }
    }
    .slick-next {
      display: none;
    }
  }
  .f_logo {
    text-align: center;
    margin-bottom: 23px;
  }
  .f_tel_address {
    margin-bottom: 34px;
    li {
      display: inline-block;
      color: #393939;
    }
    .f_tel {
      font-family: "Poppins-Regular";
      font-size: 30px;
      line-height: 60px;
      margin-left: 155px;
    }
    .f_address {
      font-family: "Noto-Sans-JP-Light";
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-left: 25px;
      position: relative;
      bottom: 2px;
    }
  }
  .contact_us {
    display: inline-block;
    margin-bottom: 68px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .f_sns {
    text-align: center;
    margin-bottom: 60px;
    li {
      display: inline-block;
      margin: 0 13px;
    }
  }
  .f_policy {
    text-align: center;
    margin-bottom: 56px;
    li {
      display: inline-block;
      width: 220px;
      text-align: center;
      background: #393939 url(../images/common/arrow_right_3.png) 95% center
        no-repeat;
      margin: 0 10px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      a {
        font-family: "Noto-Sans-JP-Light";
        font-size: 12px;
        line-height: 23px;
        color: #ffffff;
      }
    }
  }
  .f_links {
    text-align: center;
    margin-bottom: 35px;
    a {
      font-family: "Noto-Sans-JP-Light";
      font-size: 12px;
      line-height: 23px;
      color: #393939;
      margin: 0 7px;
    }
  }
  small {
    display: block;
    font-family: "Noto-Sans-JP-Light";
    font-size: 10px;
    line-height: 1;
    color: #393939;
    text-align: center;
  }
}

/* ------------------------------------------------------------ etc */

#g_nav {
  background: #ffffff;
  padding: 20px 0 15px;
  text-align: center;
  a {
    display: inline-block;
    font-size: 14px;
    line-height: 45px;
    color: #393939;
    padding: 0 33.5px;
    border-right: 1px solid #d2d2d2;
    &:first-child {
      border-left: 1px solid #d2d2d2;
    }
  }
}

#bread {
  padding-top: 10px;
  li {
    display: inline-block;
    position: relative;
    a {
      font-size: 12px;
      line-height: 28px;
      color: #393939;
    }
    &:not(:last-child) {
      margin-right: 32px;
      &::before {
        content: "";
        width: 10px;
        height: 1px;
        background: #393939;
        position: absolute;
        bottom: 13px;
        right: -23px;
      }
    }
  }
}

/* ------------------------------------------------------------ mobile ------------------------------------------------------------ */

@media only screen and (max-width: 640px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  body {
    min-width: 100%;
    max-width: 100%;
  }
  .PC {
    display: none !important;
  }
  .SP {
    display: block !important;
  }
  img {
    height: auto;
  }
  /* ------------------------------------------------------------ header */
  /* ------------------------------------------------------------ footer */
  .footer {
    padding: 22px 0 50px;
    #f_bnrs {
      width: calc(100% - 24px);
      margin: 0 auto 60px;
      li {
        padding: 0 2px;
        img {
          width: 100%;
        }
      }
      .slick-prev {
        width: 25px !important;
        height: 25px !important;
        background-size: contain !important;
        left: -25px !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        -webkit-transform: translateY(-50%) !important;
        -moz-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
        -o-transform: translateY(-50%) !important;
      }
      .slick-next {
        width: 25px;
        height: 25px;
        background: url(../images/common/slide_next.png) center / contain
          no-repeat;
        right: -25px;
        top: 50%;
        &::before {
          content: none;
        }
      }
    }
    .f_logo {
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }
    .f_tel_address {
      text-align: center;
      margin-bottom: 15px;
      .f_tel {
        width: 100%;
        font-size: 22px !important;
        line-height: 26px !important;
        margin-left: 0 !important;
        img {
          width: 13px;
          margin-right: 3px;
        }
      }
      .f_address {
        img {
          width: 10px;
          margin-right: 3px;
        }
      }
    }
    .contact_us {
      margin-bottom: 37px;
      img {
        width: 222px;
      }
    }
    .f_sns {
      margin-bottom: 23px;
      li {
        margin: 0 8px;
        img {
          width: 28px;
        }
      }
    }
    .f_policy {
      margin-bottom: 20px;
      li {
        margin: 0 auto 5px !important;
        a {
          font-size: 10px;
          line-height: 21px;
        }
      }
    }
    .f_links {
      margin-bottom: 32px;
      a {
        display: inline-block;
        font-size: 9px;
        line-height: 10px;
        margin: 0 5px;
      }
    }
    small {
      font-size: 8.5px;
    }
  }
  /* ------------------------------------------------------------ etc */
  #bread {
    padding-top: 10px;
    li {
      a {
        font-size: 10px;
        line-height: 12px;
      }
      &:not(:last-child) {
        margin-right: 20px;
        &::before {
          width: 8px;
          bottom: 5px;
          right: -15px;
        }
      }
    }
  }
}
