#fv.underlayer {
  height: 500px;
  background: url(../images/department/fv_bg.jpg) center / cover;
  .fv_title {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    padding-left: 28px;
    position: relative;
    top: 230px;
    &::before {
      content: "";
      width: 2px;
      height: 83px;
      background: url(../images/department/line_title.jpg);
      position: absolute;
      top: 0;
      left: 0;
    }
    span {
      display: block;
      font-family: "Poppins-Medium";
      font-size: 72px;
      line-height: 52px;
      margin-bottom: 10px;
    }
  }
}

#department {
  padding-top: 82px;
  padding-bottom: 202px;
  background: url(../images/department/department_bg.png) center / contain
    no-repeat;
  .h3 {
    font-family: "Noto-Sans-JP-Medium";
    font-size: 30px;
    line-height: 42px;
    color: #393939;
    letter-spacing: 3px;
    padding-left: 22px;
    background: url(../images/department/line_h3.jpg) left center no-repeat;
    span {
      font-family: "Poppins-Regular";
      font-size: 50px;
      line-height: 1;
      color: #1c1f4c;
    }
  }
  .d_list {
    padding-left: 50px;
    position: relative;
    li {
      display: block;
      float: left;
      width: 310px;
      min-height: 460px;
      margin-right: 30px;
      margin-bottom: 50px;
      position: relative;
      a {
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
      &:nth-of-type(3n-1) {
        top: 70px;
      }
      &:nth-of-type(3n - 2) {
        top: 140px;
      }
    }
    .main-img {
      position: absolute;
      bottom: 19px;
      right: 44px;
    }
  }
}

#like {
  padding: 70px 0;
  background: url(../images/department/like_bg.jpg) center / cover;
  ul {
    text-align: center;
    li {
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 640px) {
  #fv.underlayer {
    height: 192px;
    background-image: url(../images/department/fv_bg_sp.jpg);
    .fv_title {
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      top: 85px;
      span {
        font-size: 30px;
        line-height: 24px;
        margin-bottom: 5px;
      }
    }
  }
  #department {
    padding-top: 35px;
    padding-bottom: 52px;
    background: none;
    .h3 {
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 1px;
      padding-left: 10px;
      background-image: url(../images/department/line_h3_sp.jpg);
      margin-bottom: 35px;
      span {
        font-size: 22px;
      }
    }
    .d_list {
      padding-left: 0;
      li {
        width: calc(50% - 7px);
        min-height: auto;
        margin-right: 14px;
        margin-bottom: 40px;
        top: 0 !important;
        &:nth-of-type(2n) {
          margin-right: 0;
          top: 75px !important;
        }
        &:last-of-type {
          margin-bottom: 22px;
        }
      }
      .main-img {
        width: 100%;
        position: relative;
        bottom: 0;
        right: 0;
      }
    }
  }
  #like {
    padding: 27px 0 34px;
    ul {
      li {
        width: 100%;
        padding: 0 3px;
        margin: 0 0 8px;
        img {
          width: 100%;
        }
      }
    }
  }
}
