@charset "utf-8";

#index {
  h2.title1 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 80px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 23px;
    span {
      display: block;
      font-family: "Poppins-LightItalic";
      font-size: 24px;
      line-height: 1;
      color: #0555c1;
      margin-bottom: 5px;
      strong {
        font-family: "Poppins-BoldItalic";
        font-weight: bold;
      }
    }
  }

  #fv {
    height: 800px;
    margin-bottom: 92px;
    background: url("../images/index/FV7.png") center / cover;
    position: relative;
    &::before {
      content: "";
      width: 380px;
      height: 523px;
      background: url("../images/index/fv1.png");
      position: absolute;
      bottom: -53px;
      left: calc((100% - 1100px) / 2 - 50px);
    }
  }

  #news {
    max-width: 980px;
    padding: 25px 0 23px;
    margin: 0 auto 50px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    .content {
      width: 50%;
      float: left;
      .tag_date {
        margin-bottom: 12px;
        .tag {
          display: inline-block;
          min-width: 110px;
          font-size: 12px;
          line-height: 20px;
          color: #ffffff;
          background: #000000;
          padding: 0 15px;
          text-align: center;
          margin-right: 20px;
          border-radius: 10px;
        }
        .date {
          display: inline-block;
          font-family: "Poppins-Regular";
          font-size: 18px;
          line-height: 20px;
          color: #000;
        }
      }
      h3 {
        font-size: 14px;
        line-height: 1;
        color: #000;
      }
    }
    .more {
      width: calc(50% - 30px);
      float: left;
      font-family: "Poppins-SemiBold";
      font-size: 12px;
      line-height: 1;
      color: #393939;
      text-align: right;
      margin-top: 15px;
      padding-right: 30px;
      background: url("../images/index/arrow-right.png") center right no-repeat;
    }
  }
  #corona {
    max-width: 980px;
    margin: 0 auto 100px;
    h2 {
      text-align: center;
      position: relative;
      margin-bottom: 40px;
      &::before {
        content: "";
        width: 100%;
        height: 5px;
        background: #0555c1;
        position: absolute;
        left: 0;
        top: 55%;
        transform: translateY(-50%);
      }
      span {
        display: inline-block;
        width: 90%;
        max-width: 600px;
        font-family: "Noto-Sans-JP-Medium";
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        text-align: center;
        background: #0555c1;
        padding: 11px 0;
        position: relative;
      }
    }
    ul {
      margin-bottom: 13px;
      li {
        display: block;
        float: left;
        width: 25%;
        margin-bottom: 30px;
        border-right: 1px solid #bfbfbf;
        padding: 10px 0 6px 105px;
        h3 {
          font-size: 14px;
          line-height: 24px;
          color: #393939;
        }
        .line-yw {
          border-bottom: 2px solid #fccf17;
        }
        &:first-child {
          background: url("../images/index/corona_1.png") 58px 4px no-repeat;
        }
        &:nth-child(2) {
          background: url("../images/index/corona_2.png") 58px 4px no-repeat;
        }
        &:nth-child(3) {
          //   width: 22%;
          //   padding-left: 86px;
          background: url("../images/index/corona_3.png") 58px 4px no-repeat;
        }
        &:nth-child(4) {
          //   width: 28%;
          //   padding-left: 84px;
          border-right: none;
          background: url("../images/index/corona_4.png") 58px 4px no-repeat;
        }
        &:nth-last-child(4) {
          background: url("../images/index/corona_5.png") 58px 4px no-repeat;
        }
        &:nth-last-child(3) {
          background: url("../images/index/corona_6.png") 58px 4px no-repeat;
        }
        &:nth-last-child(2) {
          //   width: 22%;
          //   padding-left: 87px;
          background: url("../images/index/corona_7.png") 58px 4px no-repeat;
        }
        &:last-child {
          //   width: 28%;
          //   padding-left: 84px;
          border-right: none;
          background: url("../images/index/corona_8.png") 58px 4px no-repeat;
        }
      }
    }
    .black_btn {
      max-width: 450px;
      padding: 11px 65px 11px 48px;
      background: #000000 url("../images/index/arrow_right_2.png") 95% center
        no-repeat;
      border-radius: 25px;
      margin: 0 auto;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      a {
        font-family: "Poppins-LightItalic";
        font-size: 14px;
        line-height: 28px;
        color: #fff;
        letter-spacing: 0.5px;
      }
    }
  }
}
#bnrs {
  padding: 102px 0 134px;
  background: url(../images/index/bnrs_bg.jpg) center;
  #bnr_slider {
    margin-bottom: 0 !important;
    .slick-slide img {
      margin: auto;
    }
    .slick-dots {
      bottom: -35px;
      li {
        width: auto;
        height: auto;
        margin: 0 3px;
        button {
          width: 24px;
          height: 4px;
          padding: 0;
          background: #bfbfbf;
          &::before {
            content: none;
          }
        }
        &.slick-active button {
          background: #fccf17;
        }
      }
    }
  }
}

#course {
  p.intro {
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-bottom: 60px;
    font-family: "No";
  }
  h2.title1 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 80px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 23px;
    span {
      display: block;
      font-family: "Poppins-LightItalic";
      font-size: 24px;
      line-height: 1;
      color: #0555c1;
      margin-bottom: 5px;
      strong {
        font-weight: bold;
      }
    }
  }

  padding: 98px 0 125px;
  .c_list {
    position: relative;
    .black_btn {
      width: 100%;
      max-width: 280px;
      padding: 9px 51px 9px 55px;
      background: #1a1a1a url("../images/common/arrow_right_3.png") 93% center
        no-repeat;
      border-radius: 25px;

      position: absolute;
      bottom: 40px;
      right: 0;
      a {
        font-family: "Noto-Sans-JP-Light";
        font-size: 14px;
        line-height: 28px;
        color: #ffffff;
        letter-spacing: 0.5px;
      }
    }
  }
  article {
    width: 356px;
    float: left;
    margin: 0 15px 40px 0;
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    .img {
      position: relative;
      .new {
        position: absolute;
        top: -27px;
        left: -21px;
      }
    }
    .textbox {
      width: 300px;
      height: 80px;
      color: #fff;
      margin: -32px 0 0 28px;
      position: relative;
      p {
        width: 276px;
        height: 24px;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        text-align: center;
        background: url("../images/index/para.png");
        position: relative;
        top: -10px;
        left: 11px;
      }
      h3 {
        font-family: "Noto-Sans-JP-Bold";
        font-size: 24px;
        line-height: 26px;
        font-style: italic;
        padding: 8px 20px 0;
        span {
          display: inline-block;
          font-size: 14px;
          line-height: 18px;
          border: 1px solid #fff;
          padding: 0 6px;
          margin-left: 18px;
          position: relative;
          bottom: 3px;
        }
      }
      h4 {
        font-family: "Noto-Sans-JP-Light";
        font-size: 12px;
        line-height: 1;
        padding: 2px 10px 0;
        letter-spacing: -0.5px;
      }
    }
    .red {
      height: 100px;
      background: #e93636;
      margin-top: -43px;
      h3 {
        padding-top: 0;
      }
    }
    .blue {
      height: 92px;
      background: #0054ff;
      margin-top: -35px;
    }
    .pink {
      height: 92px;
      background: #e04b77;
      margin-top: -35px;
    }
    .green {
      background: #6da724;
    }
    .yellow {
      background: #ffc400;
    }
    .orange {
      background: #f28200;
    }
    .violet {
      background: #790d6e;
      p {
        letter-spacing: -1.5px;
      }
    }
    .light-blue {
      background: #1492d5;
    }
  }
}
#feature {
  padding: 85px 0 80px;
  background: url("../images/index/feature_bg_main.jpg") center / cover;
  overflow-x: hidden;
  h2.title1 {
    letter-spacing: -9px;
    margin-left: -15px;
    font-size: 80px;
    font-family: "Noto-Sans-JP-Bold";
    padding-bottom: 30px;
    span {
      letter-spacing: 0;
      margin-left: 15px;

      strong {
        font-family: "Poppins-BoldItalic";
        display: block;
        color: #0555c1;
        font-size: 24px;
        line-height: 16px;
        font-weight: bold;
      }
    }
  }
  .gallery {
    width: 3904px;
    margin-bottom: 33px;
    .loop {
      width: 1952px;
      float: left;
    }
    .loop-5 {
      animation: loop5 50s -25s linear infinite;
      -webkit-animation: loop5 50s -25s linear infinite;
    }
    .loop-6 {
      animation: loop6 50s linear infinite;
      -webkit-animation: loop6 50s linear infinite;
    }

    .large {
      width: 620px;
      float: left;
      margin-right: 30px;
    }
    .small {
      width: 300px;
      float: left;
      margin-right: 26px;
    }
    a {
      display: block;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
        left: 11px;
        background: #b6b6b6 url("../images/index/feature_bg.jpg");
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 21px;
      }
    }
  }

  .w-980 {
    max-width: 980px;
  }
  .more_btn {
    width: 215px;
    font-family: "Poppins-SemiBold";
    font-size: 16px;
    line-height: 16px;
    color: #393939;
    padding: 13px;
    // background: url("../images/index/arrow-right.png");
    border-bottom: 2px solid #393939;
    margin-left: auto;
  }
  .intro {
    font-family: "Noto-Sans-JP-Regular";
    font-size: 16px;
    letter-spacing: 40;
    margin-bottom: 60px;
  }
}

#open_campus {
  h2.title1 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 80px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 23px;
    span {
      display: block;
      font-family: "Poppins-LightItalic";
      font-size: 24px;
      line-height: 1;
      color: #0555c1;
      margin-bottom: 5px;
      strong {
        font-family: "Poppins-BoldItalic";
        font-weight: bold;
      }
    }
  }
  p.intro {
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-bottom: 60px;
  }
  .btn1 {
    width: 300px;
    font-family: "Noto-Sans-JP-Light";
    font-size: 14px;
    line-height: 35px;
    color: #393939;
    text-align: center;
    background: #ffffff url(../images/common/arrow_right.png) 94% center
      no-repeat;
    border: 1px solid #393939;
    border-radius: 20px;

    margin: auto;
    position: relative;
    left: 15px;
  }

  overflow-x: hidden;
  h2.title {
    font-size: 100px;
    letter-spacing: -7px;
    margin-bottom: 17px;
    span {
      font-size: 30px;
      letter-spacing: 0;
    }
  }
  p.intro {
    line-height: 30px;
    margin-bottom: 56px;
  }
  .inner {
    padding: 264px 0 120px;
    position: relative;
    &::before {
      content: "";
      width: 613px;
      height: 1080px;
      background: url("../images/index/open_campus_decor_1.png");
      position: absolute;
      top: 42px;
      left: -662px;
    }
    &::after {
      content: "";
      width: 612px;
      height: 1080px;
      background: url("../images/index/open_campus_decor_2.png");
      position: absolute;
      bottom: 38px;
      right: -683px;
    }
  }
  .oc_list {
    article {
      width: 520px;
      float: left;
      margin-right: 60px;
      margin-bottom: 104px;
      h3 {
        font-size: 16px;
        line-height: 27px;
        color: #393939;
        padding-left: 30px;
        margin-top: 27px;
        margin-bottom: 35px;
      }
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}
#iken_now {
  background: #f6f4f7;
  overflow-x: hidden;
  h2.title1 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 80px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 23px;
    span {
      display: block;
      font-family: "Poppins-LightItalic";
      font-size: 24px;
      line-height: 1;
      color: #0555c1;
      margin-bottom: 5px;
      strong {
        font-family: "Poppins-BoldItalic";
        font-weight: bold;
      }
    }
  }
  p.intro {
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-bottom: 60px;
  }
  .btn1 {
    width: 300px;
    font-family: "Noto-Sans-JP-Light";
    font-size: 14px;
    line-height: 35px;
    color: #393939;
    text-align: center;
    background: #ffffff url(../images/common/arrow_right.png) 94% center
      no-repeat;
    border: 1px solid #393939;
    border-radius: 20px;

    margin: auto;
    position: relative;
    left: 15px;
  }
  .inner {
    padding: 0 30px;
    position: relative;
  }
  > .inner {
    padding: 98px 30px 30px;
    position: relative;
    .decor-1 {
      position: absolute;
      top: 25px;
      left: -228px;
    }
  }
  .h3-title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 74px;
    position: relative;
    &::before {
      content: "";
      width: 80px;
      height: 4px;
      background: #ef5241;
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      content: "";
      width: 81px;
      height: 84px;
      background: url(../images/index/now_decor_4.png) no-repeat;
      position: absolute;
      top: -55px;
      left: 30px;
    }
    span {
      display: block;
      font-family: "Poppins-BoldItalic";
      font-size: 80px;
      line-height: 1;
      margin-bottom: 38px;
    }
    img {
      vertical-align: top;
      margin-right: 15px;
    }
  }
  p.intro {
    margin-bottom: 57px;
  }
  #instagram {
    padding-bottom: 160px;
    .gallery {
      width: 4080px;
      margin-bottom: 50px;
      .loop {
        width: 1020px;
        float: left;
      }
      .loop-1 {
        animation: loop1 50s -25s linear infinite;
        -webkit-animation: loop1 50s -25s linear infinite;
      }
      .loop-2 {
        animation: loop2 50s -25s linear infinite;
        -webkit-animation: loop2 50s -12.5s linear infinite;
      }
      .loop-3 {
        animation: loop3 50s -22.5s linear infinite;
        -webkit-animation: loop3 50s 0s linear infinite;
      }
      .loop-4 {
        animation: loop4 50s linear infinite;
        -webkit-animation: loop4 50s 12.5s linear infinite;
      }
      a {
        display: block;
        float: left;
        margin-right: 10px;
        img {
          display: block;
        }
      }
    }
    .buttons {
      text-align: center;
      .btn2 {
        display: inline-block;
        width: 440px;
        height: 50px;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        background: url(../images/index/btn_instagram_1.png);
        margin: 0 20px;
      }
      .btn3 {
        display: inline-block;
        width: 440px;
        height: 50px;
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        background: url(../images/index/btn_instagram_2.png);
        margin: 0 20px;
      }
      a {
        color: #ffffff;
      }
    }
  }
  #youtube {
    .decor-2 {
      position: absolute;
      top: -45px;
      right: -173px;
    }
    .h3-title {
      margin-bottom: 22px;
      &::before {
        background: #000000;
        bottom: 40px;
      }
      &::after {
        background-image: url(../images/index/now_decor_5.png) no-repeat;
        top: -32px;
        left: 0;
      }
    }
    #mo_slider {
      padding-bottom: 218px;
      margin-bottom: 0;
      .movie_wrap {
        width: 830px !important;
        height: 467px;
        margin-left: 20px;
        position: relative;
        iframe {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
      .slick-dots {
        bottom: 167px;
        li {
          width: auto;
          height: auto;
          margin: 0 3px;
          button {
            width: 24px;
            height: 4px;
            padding: 0;
            background: #bfbfbf;
            &::before {
              content: none;
            }
          }
          &.slick-active button {
            background: #fccf17;
          }
        }
      }
      .slick-prev {
        width: 40px;
        height: 40px;
        background: url(../images/common/slide_prev.png);
        border-radius: 20px;
        &::before {
          content: none;
        }
        left: auto;
        top: auto;
        right: calc((100% - 980px) / 2 + 50px);
        bottom: 150px;
        transform: none;
        z-index: 1;
      }
      .slick-next {
        width: 40px;
        height: 40px;
        background: url(../images/common/slide_next.png);
        border-radius: 20px;

        &::before {
          content: none;
        }
        left: auto;
        top: auto;
        right: calc((100% - 980px) / 2);
        bottom: 150px;
        transform: none;

        z-index: 1;
      }
    }
    .last-decor {
      .decor-3 {
        position: absolute;
        bottom: 64px;
        left: -145px;
      }
    }
  }
  .box {
    max-width: 980px;
    padding-bottom: 105px;
    margin: auto;
    .h3-title {
      margin-bottom: 43px;
      &::before {
        bottom: -13px;
      }
    }
    #blog {
      width: 432px;
      float: left;
      padding-left: 30px;
      margin-right: 110px;
      .h3-title {
        &::before {
          width: 60px;
          background: #28b790;
        }
        &::after {
          background-image: url(../images/index/now_decor_6.png) no-repeat;
          top: -36px;
          left: -60px;
        }
        span {
          font-size: 48px;
        }
      }
      .img {
        margin-bottom: 22px;
        img {
          display: block;
          width: 400px;
          height: 300px;
          object-fit: cover;
        }
      }
      .textbox {
        padding-left: 7px;
        ul {
          margin-bottom: 15px;
          .category {
            display: inline-block;
            min-width: 115px;
            font-size: 12px;
            line-height: 23px;
            color: #ffffff;
            text-align: center;
            padding: 0 10px;
            background: #0555c1;
            margin-right: 12px;
            border-radius: 12px;
          }
          .date {
            display: inline-block;
            font-family: "Poppins-Medium";
            font-size: 14px;
            line-height: 23px;
            color: #000000;
          }
        }
        h4 {
          font-size: 18px;
          line-height: 24px;
          color: #393939;
          margin-bottom: 35px;
        }
      }
      .btn1 {
        margin-left: 48px;
        left: 0;
      }
    }
    #campus_life {
      width: 438px;
      float: left;
      .h3-title {
        &::before {
          width: 60px;
          background: #f59500;
        }
        &::after {
          background-image: url(../images/index/now_decor_7.png) no-repeat;
          top: -36px;
          left: 0px;
        }
        span {
          font-size: 42px;
          line-height: 52px;
        }
      }
      .main-img {
        margin-bottom: 30px;
      }
      .btn1 {
        left: 0;
        margin-bottom: 65px;
      }
      #sns {
        h4 {
          font-family: "Noto-Sans-JP-Bold";
          font-size: 30px;
          line-height: 1;
          text-align: center;
          margin-bottom: 42px;
          position: relative;
          &::before {
            content: "";
            width: 60px;
            height: 4px;
            background: #0555c1;
            position: absolute;
            bottom: -22px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .twitter_btn {
          width: 300px;
          font-family: "Noto-Sans-JP-Light";
          font-size: 18px;
          line-height: 28px;
          color: #ffffff;
          text-align: center;
          padding: 4px 0;
          background: #1ea1f2 url(../images/common/arrow_right_3.png) 95% center
            no-repeat;
          margin: 0 auto 15px;
          border-radius: 20px;

          position: relative;
          img {
            position: absolute;
            top: 10px;
            left: 22px;
          }
        }
        .line_btn {
          width: 300px;
          font-family: "Noto-Sans-JP-Light";
          font-size: 18px;
          line-height: 28px;
          color: #ffffff;
          text-align: center;
          padding: 4px 0;
          background: #02b902 url(../images/common/arrow_right_3.png) 95% center
            no-repeat;
          margin: 0 auto 15px;
          border-radius: 20px;
          position: relative;
          img {
            position: absolute;
            top: 8px;
            left: 19px;
          }
        }
      }
    }
  }
}
#like {
  padding: 27px 0 32px;
  h3 {
    font-family: "Noto-Sans-JP-Bold";
    font-size: 36px;
    line-height: 1;
    text-align: center;
    font-style: italic;
    letter-spacing: 2px;
    margin-bottom: 36px;
    span {
      font-size: 48px;
      color: #0555c1;
      font-style: italic;
    }
  }
  ul {
    max-width: 1348px;
    margin: auto;
    li {
      width: 50%;
      float: left;
      padding: 0 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.footer {
  max-width: 890px;
  padding: 105px 0 20px;
  #f_bnrs {
    margin-bottom: 153px;
    .slick-slide img {
      margin: auto;
    }
    .slick-prev {
      width: 30px;
      height: 30px;
      background: url(../images/common/slide_prev_footer.png);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      transform: none;

      left: -45px;
      top: 20px;
      &::before {
        content: none;
      }
    }
    .slick-next {
      display: none;
    }
  }
  .f_logo {
    text-align: center;
    margin-bottom: 23px;
  }
  .f_tel_address {
    margin-bottom: 34px;
    li {
      display: inline-block;
      color: #393939;
    }
    .f_tel {
      font-family: "Poppins-Regular";
      font-size: 30px;
      line-height: 60px;
      margin-left: 155px;
    }
    .f_address {
      font-family: "Noto-Sans-JP-Light";
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-left: 25px;
      position: relative;
      bottom: 2px;
    }
  }
  .contact_us {
    display: inline-block;
    margin-bottom: 68px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .f_sns {
    text-align: center;
    margin-bottom: 60px;
    li {
      display: inline-block;
      margin: 0 13px;
    }
  }
  .f_policy {
    text-align: center;
    margin-bottom: 56px;
    li {
      display: inline-block;
      width: 220px;
      text-align: center;
      background: #393939 url(../images/common/arrow_right_3.png) 95% center
        no-repeat;
      margin: 0 10px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      a {
        font-family: "Noto-Sans-JP-Light";
        font-size: 12px;
        line-height: 23px;
        color: #ffffff;
      }
    }
  }
  .f_links {
    text-align: center;
    margin-bottom: 35px;
    a {
      font-family: "Noto-Sans-JP-Light";
      font-size: 12px;
      line-height: 23px;
      color: #393939;
      margin: 0 7px;
    }
  }
  small {
    display: block;
    font-family: "Noto-Sans-JP-Light";
    font-size: 10px;
    line-height: 1;
    color: #393939;
    text-align: center;
  }
}
@media only screen and (max-width: 640px) {
  #index {
    p.intro {
      font-size: 18px;
      line-height: 19px;
      margin-bottom: 32px;
    }
    #fv {
      height: 328px;
      background-position-x: 87%;
      margin-bottom: 122px;
      &::before {
        width: 235px;
        height: 156px;
        background: url(../images/index/fv_sup_sp.jpg) center / cover;
        left: 50%;
        bottom: -82px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
    }
    #news {
      min-height: 70px;
      margin: 0 22px 40px;
      padding: 10px 0;
      .content {
        width: 100%;
        .tag_date {
          margin-bottom: 5px;
          .tag {
            min-width: 55px;
            font-size: 10px;
            line-height: 15px;
            padding: 0 7px;
            margin-right: 0;
          }
          .date {
            font-size: 10px;
            line-height: 15px;
          }
        }
        h3 {
          font-size: 11px;
        }
      }
      .more {
        width: 100%;
        font-size: 10px;
        margin-top: 5px;
      }
    }
    #corona {
      margin: 0 22px 50px;
      h2 {
        margin-bottom: 15px;
        &::before {
          height: 2px;
          top: 55%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
        span {
          width: 235px;
          font-size: 12px;
          line-height: 15px;
          padding: 4px 0;
        }
      }
      ul {
        width: 255px;
        margin: 0 auto 35px;

        li {
          width: 33.33% !important;
          height: 90px;
          border-right: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          padding: 42px 0 0 !important;
          margin-bottom: 0;
          &:first-child {
            background: url(../images/index/corona_1.png) center 18px / 25px
              no-repeat;
          }

          h3 {
            font-size: 10px;
            line-height: 17px;
            text-align: center;
          }
          .yellow-line {
            border-bottom: 2px solid #fccf17;
          }
          &:nth-of-type(2) {
            background: url(../images/index/corona_2.png) center 22px / 27px
              no-repeat;
          }
          &:nth-of-type(3) {
            border-right: none;
            background: url(../images/index/corona_3.png) center 19px / 22px
              no-repeat;
          }
          &:nth-of-type(4) {
            height: 80px;
            border-right: 1px solid #d9d9d9;
            background: url(../images/index/corona_4.png) center 21px / 22px
              no-repeat;
          }
          &:nth-of-type(5) {
            height: 80px;
            background: url(../images/index/corona_5.png) center 19px / 23px
              no-repeat;
          }
          &:nth-of-type(6) {
            height: 80px;
            border-right: none;
            background: url(../images/index/corona_6.png) center 17px / 24px
              no-repeat;
          }
          &:nth-of-type(7) {
            border-bottom: none;
            background: url(../images/index/corona_7.png) center 12px / 24px
              no-repeat;
          }
          &:nth-of-type(8) {
            border-right: 1px solid #d9d9d9;
            border-bottom: none;
            background: url(../images/index/corona_8.png) center 16px / 22px
              no-repeat;
          }
        }
      }
      .black_btn {
        display: none;
      }
    }
    #bnrs {
      padding: 30px 0 43px;
      #bnr_slider {
        .slick-slide img {
          width: calc(100% - 7px);
          height: 100px;
          margin: auto;
        }
        .slick-dots {
          bottom: -15px;
          li {
            margin: 0 3px;
            button {
              width: 16px;
              height: 3px;
            }
          }
        }
      }
    }
  }
  #course {
    padding: 35px 0 55px;
    p.intro {
      font-size: 11px;
      line-height: 19px;
      font-family: "Noto-Sans-JP-Regular";
    }
    h2.title1 {
      font-size: 20px;
    }
    .c_list {
      width: 100%;
      max-width: 310px;
      min-width: 280px;
      margin: auto;
      .black_btn {
        width: 230px;
        float: left;
        text-align: center;
        padding: 7px;
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        margin-top: 12px;
        a {
          font-size: 12px;
        }
      }
      article {
        width: 100%;
        margin: 0 0 10px;
        position: relative;
        .img {
          .new {
            width: 26px;
            height: auto;
            top: -11px;
            left: -9px;
          }
          img {
            width: 162px;
            height: 91px;
            object-fit: cover;
          }
        }
        .textbox {
          width: 162px;
          height: 86px;
          margin: 0;
          position: absolute;
          right: 0;
          top: 2px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            width: 152px;
            height: auto;
            font-size: 8px;
            line-height: 12px;
            letter-spacing: -0.5px;
            background: #ffffff;
            clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
            padding: 1px 5px;
            position: relative;
            top: 0;
            left: 5px;
            margin-bottom: 3px;
          }
          h3 {
            font-size: 14px;
            line-height: 15px;
            padding: 0 4px;
            margin-top: 2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              display: inline-block;
              font-size: 9px;
              line-height: 13px;
              padding: 0 3px;
              margin-left: 0;
              bottom: 0;
            }
          }
          h4 {
            font-size: 8.5px;
            line-height: 12px;
            padding: 0 5px;
          }
        }
        .red {
          h3 {
            display: block;
            margin-bottom: 3px;
            span {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  #feature {
    padding: 55px 0 45px;
    p.intro {
      font-size: 11px;
      line-height: 19px;
      margin-bottom: 32px;
    }
    h2.title1 {
      letter-spacing: 0;
      margin-left: 0;
      font-size: 36px;
      margin-bottom: 8px;
    }
    .gallery {
      width: 1680px;
      margin-bottom: 20px;
      .loop {
        width: 840px !important;
      }
      a {
        width: 128px;
        height: 128px;
        float: left;
        margin-right: 12px;
        &::before {
          top: 5px;
          left: 4px;
          background-size: 240px;
        }
        img {
          margin-bottom: 0;
        }
      }
    }
    .more_btn {
      width: 90px;
      font-size: 10px;
      line-height: 1;
      padding: 5px 5px;
      background-size: 10px;
    }
  }

  #open_campus {
    .inner {
      padding: 65px 0 25px;
      &::before {
        width: 60px;
        height: 140px;
        background: url(../images/index/open_campus_decor_1_sp.png) right top /
          100% no-repeat;
        top: 0;
        left: -10%;
        z-index: -1;
      }
      &::after {
        width: 70px;
        height: 160px;
        background: url(../images/index/open_campus_decor_2_sp.png) left bottom /
          100% no-repeat;
        bottom: 0;
        right: -10%;
      }
    }
    h2.title1 {
      font-size: 36px;
      line-height: 41px;
      letter-spacing: -1px;
      span {
        font-size: 15px;
      }
    }
    p.intro {
      font-size: 11px;
      line-height: 19px;
      margin-bottom: 30px;
      font-family: "Noto-Sans-JP-Regular";
    }
    .oc_list {
      article {
        width: 225px;
        float: none;
        margin: 0 auto 35px !important;
        img {
          width: 100%;
        }
        h3 {
          font-size: 10px;
          line-height: 17px;
          padding: 0;
          margin: 8px 0;
          font-family: "Noto-Sans-JP-Regular";
        }
        .btn1 {
          width: 100%;
          left: 0;
          font-size: 10px;
          line-height: 28px;
          background-position-x: 97%;
        }
      }
    }
  }
  #iken_now {
    .inner {
      padding: 0;
    }
    > .inner {
      padding: 42px 0 0;
      .decor-1 {
        width: 100px;
        left: auto;
        right: -6%;
      }
    }
    h2.title1 {
      font-size: 43px;
    }
    p.intro {
      font-size: 10px;
      margin-bottom: 50px;
    }
    .h3-title {
      font-size: 10px;
      margin-bottom: 40px;
      &::before {
        width: 35px;
        height: 2px;
        bottom: -12px;
      }
      &::after {
        width: 35px;
        height: 36px;
        background-size: contain;
        top: -25px;
        left: 0;
      }
      span {
        font-size: 34px;
        margin-bottom: 16px;
      }
      img {
        width: 30px;
        margin-right: 6px;
      }
    }
    #instagram {
      padding-bottom: 70px;
      .gallery {
        margin-bottom: 20px;
      }
      .buttons {
        width: 222px;
        margin: auto;
        .btn2 {
          width: 100%;
          height: 30px;
          font-size: 10px;
          line-height: 30px;
          background: url(../images/index/btn_instagram_1_sp.png) center /
            contain no-repeat;
          margin: 0 auto 5px;
        }
        .btn3 {
          width: 100%;
          height: 30px;
          font-size: 10px;
          line-height: 30px;
          background: url(../images/index/btn_instagram_2_sp.png) center /
            contain no-repeat;
          margin: 0 auto;
        }
      }
    }
    #youtube {
      .decor-2 {
        width: 115px;
        left: auto;
        top: -52px;
        right: -6%;
      }
      .h3-title {
        &::after {
          top: -23px;
        }
        &::before {
          bottom: 20px;
        }
      }
      #mo_slider {
        padding-bottom: 127px;
        .movie_wrap {
          width: 235px !important;
          height: 132px;
          margin-left: 6px;
        }
        .slick-dots {
          bottom: 105px;
        }
        .slick-prev {
          width: 30px;
          height: 30px;
          background-size: contain;
          right: auto;
          left: calc(50% - 33px);
          bottom: 58px;
        }
        .slick-next {
          width: 30px;
          height: 30px;
          background-size: contain;
          right: calc(50% - 33px);
          bottom: 58px;
        }
      }
      .last-decor {
        .decor-3 {
          width: 100px;
          bottom: 30px;
          left: -7%;
        }
      }
    }
    .box {
      width: 235px;
      padding-bottom: 40px;
      margin: auto;
      #blog {
        width: 100%;
        padding-left: 0;
        margin-bottom: 60px;
        .h3-title {
          margin-bottom: 25px;
          &::before {
            width: 25px;
            bottom: -5px;
          }
          &::after {
            top: -13px;
            left: -22px;
          }
          span {
            font-size: 20px;
          }
          img {
            width: 22px;
          }
        }
        .img {
          margin-bottom: 12px;
          img {
            width: 100%;
            height: 177px;
          }
        }
        .textbox {
          padding-left: 0;
          ul {
            margin-bottom: 5px;
            .category {
              min-width: auto;
              font-size: 10px;
              line-height: 15px;
              padding: 0 7px;
              margin-right: 0;
            }
            .date {
              font-size: 10px;
              line-height: 15px;
            }
          }
          h4 {
            font-size: 11px;
            line-height: 1;
            margin-bottom: 20px;
          }
        }
        .btn1 {
          width: 222px;
          font-size: 10px;
          line-height: 28px;
          margin-left: auto;
        }
      }
      #campus_life {
        width: 100%;
        .h3-title {
          margin-bottom: 25px;
          &::before {
            width: 25px;
            bottom: -5px;
          }
          &::after {
            top: -22px;
            left: 0;
          }
          span {
            font-size: 18px;
            line-height: 1;
          }
        }
        .main-img {
          width: 100%;
          margin-bottom: 18px;
        }
        .btn1 {
          width: 222px;
          font-size: 10px;
          line-height: 28px;
          margin-left: auto;
          margin-bottom: 40px;
        }
        #sns {
          h4 {
            font-size: 18px;
            margin-bottom: 18px;
            &::before {
              width: 25px;
              height: 2px;
              bottom: -8px;
            }
          }
          .twitter_btn {
            width: 222px;
            font-size: 10px;
            margin: 0 auto 8px;
            img {
              top: 8px;
              left: 14px;
            }
          }
          .line_btn {
            width: 222px;
            font-size: 10px;
            margin: 0 auto;
            img {
              top: 8px;
              left: 13px;
            }
          }
        }
      }
    }
  }
  #like {
    padding: 27px 0 32px;
    h3 {
      font-size: 19px;
      line-height: 24px;
      margin-bottom: 12px;
      span {
        font-size: 25px;
      }
    }
    ul {
      li {
        width: 100%;
        margin-bottom: 8px;
        padding: 0 26px;
      }
    }
  }
  .footer {
    .f_tel_address {
      .f_address {
        font-family: "Noto-Sans-JP-Light";
        font-size: 10px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-left: 0px;
        position: relative;
        bottom: 0px;
      }
    }
  }
}
@keyframes loop1 {
  0% {
    transform: translateX(200%);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-300%);
  }
}
@keyframes loop3 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400%);
  }
}
@keyframes loop4 {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(-500%);
  }
}
@keyframes loop5 {
  0% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes loop6 {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}
/* ------------------------------------------------------------ common */
/* ------------------------------------------------------------ mobile */
